body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

.whole-page {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: white;
}
.header {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
}
.context {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}
.img-fluid {
  height: 300px;
}
.tesco-logo {
  height: 250px;
  margin-top: 20px;
}
.res {
  width: 350px;
  border-radius: 10px;
  height: 60px;
  box-shadow: 0px 0px 25px -10px #65565f;
}
.btn {
  margin-top: 20px;
  width: 200px;
  background-color: black;
  border: none;
  font-weight: bold;
  box-shadow: 0px 0px 25px -10px #65565f;
  padding: 10px;
}
.btn:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: 5px solid black;
  box-shadow: 0px 0px 25px -10px #65565f;
}
.weekly {
  font-size: 35px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-bottom: 10px;
  width: 140px;
  border: none;
}
.annually {
  font-size: 35px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: 140px;
  border: none;
}
.p2 {
  font-weight: bolder;
}
